[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
transformers = "*"
torch = "*"
"pdfminer.six" = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
openai = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
